/**
 * init
 */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #303030;
}

a:hover {
  color: #4078C0;
}

#wrap {
  width: 100%;
  position: relative;
  height:auto !important;
  height: 100%;
  min-height: 100%;
}

.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom:50px;
  overflow: hidden;
}

/**
 * header
 */
.site-header { 
  background: #F4F4F4;
  height: 60px;
  margin-bottom: 40px;
}

.site-header a {
  color: #303030;
  text-decoration: none;
  font-size: 20px;
}

.site-header-left {
  padding: 15px 0px 12px 150px;
  float: left;
}

.site-header-title {
  font-weight: bold;
}

/**
 * main content
 */
#main {
  clear: left;
  float: left;
  margin-bottom: 50px;
}

/**
 * articles
 */
.article {
  width: 590px;
  padding: 0px 20px 20px 20px;
  clear: left;
  overflow: hidden;
}

.article-meta {
  overflow: hidden;
}

.article .posttime {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.article .content {
  clear: left;
  color: #303030;
  margin-bottom: 10px;
}

.article .content ol,
.article .content ul
{
  padding-left: 40px;
}

.article .content a {
  font-size: 14px;
}

.article .content a:hover {
  font-size: 14px;
}

.article .tags a {
  font-size: 10px;
}

.article .tags a:hover {
  font-size: 10px;
}

/**
 * sidebar
 */
.sidebar {
  width: 310px;
  float: right;
  min-height:200px; 
  height: 200px;
  height: auto !important; 
  overflow: hidden;
}

.sidebar-content {
  margin-bottom: 30px;
}

.sidebar-header {
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #B4B3BA;
}

.sidebar-header span {
  color: #747474;
  margin-bottom: 4px;
  padding-left: 5px;
}

/**
 * tags
 */
.tags {
  overflow: hidden;
}

.tags li {
  float: left;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 2px;
}

.tags a {
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  padding: 2px 3px;
  border: 1px solid #747474;
}

.tags a:hover {
  background: #F4F4F4;
  color: #303030;
  font-size: 14px;
  padding: 2px 3px;
}

/**
 * categories
 */
.categories {
  clear: left;
}

.categories li {
  list-style: none;
  margin-bottom: 3px;
  white-space: nowrap;
}

.categories span {
  display: inline-block;
  background: #B4B3BA;
  width: 6px;
  height: 6px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.categories a {
  color: #747474;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
}

.categories a:hover {
  color: #4078C0;
  list-style: none;
}

/**
 * author
 */
#author {
  margin-left: 14px;
}

#author span {
  display: inline-block;
  margin-bottom: 5px;
}

#author a {
  color: #747474;
  margin-right: 5px;
  list-style: none;
}

#author a:hover {
  color: #4078C0;
}

/**
 * RSS
 */
#rss a {
  color: #747474;
  margin-left: 14px;
}

#rss a:hover {
  color: #4078C0;
}


/**
 * footer
 */
#site-footer {
  clear: left;
  background: #F4F4F4;
  padding-top: 10px;
  min-height:50px; 
  height: 50px;
  padding: 25px 0px 0px 150px;

  position: absolute;
  width: 100%;
  bottom: 0;
}

#site-footer span {
  color: #303030;
  font-size: 14px;
}

#site-footer a {
  color: #303030;
}

#site-footer a:hover {
  color: #4078C0;
}

/**
 * responsive styles
 */
@media screen and (max-width: 950px) {
  img { 
    float: none;
  }

  .site-header-left {
    padding-left: 20px;
  }

  #main {
    float: none;
    width: auto;
    margin-bottom: 5px;
  }

  .container {
    width: auto;
  }

  .content {
    width: auto;
  }

  .article {
    width: auto;
    padding: 0px 10px 30px 10px;
  }

  .sidebar {
    clear: left;
    float: none;
    margin-left: 10px;
    width: auto;
    padding: 0px;
    margin: 0 auto 70px auto;
  }

  .sidebar-header {
    width: auto;
  }

  .sidebar-content {
    width: auto;
  }

  #site-footer {
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar .adsense {
    margin-left: 10px;
  }
}

