/**
 * articles-header
 */
.articles-header {
  margin-bottom: 35px;
  padding: 20px 20px 10px 10px;
  border-bottom: 1px solid #ACAEB2;
}

h1 {
  font-size: 30px;
  color: #303030;
  text-decoration: none;
}

/**
 * articles
 */
.article {
  margin: 10px 0px 30px 0px;
  border-bottom: 1px solid #ACAEB2;
}

h2 {
  font-size: 18px;
}

.article h2 a {
  color: #303030;
  text-decoration: none;
}

.article h2 a:hover {
  color: #4078C0;
}

/**
 * pager
 */
#pager {
  width: auto;
  margin-bottom: 20px;
}

#pager .pagination {
  width: 50%;
  margin: 0 auto;
}

#pager .pagination li {
  float: left;
  list-style: none;
}

#pager .pagination a {
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  padding: 10px 8px;
  margin-right: 10px;
  border: 1px solid #747474;
}

#pager .pagination a:hover {
  background: #F4F4F4;
  color: #303030;
  font-size: 14px;
  padding: 10px 8px;
  margin-right: 10px;
}

#pager .pagination .active a {
  padding: 10px 8px;
  background: #747474;
  color: #FBFDFF;
}

@media screen and (max-width: 950px) {
  #main {
    margin-bottom: 100px;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
  }

  .article {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  #pager .pagination {
    width: 90%;
    margin: 0 auto;
  }
}
