<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/single.css">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
</head>
<body>
  {{ partial "header.html" . }}
  <div class="container">
    <div id="main">
      <div class="article">
        <header>
          <div class="article-header">
            <h1>{{ .Title }}</h1>
            <span class="posttime">{{ .Date.Format "2006/01/02" }}</span>
            {{ partial "tags.html" . }}
          </div>
          {{ partial "share.html" . }}
        </header>
        <div class="content">
          {{ .Content }}
        </div>
        <footer>
          <div class="article-footer">
            {{ partial "tags.html" . }}
            {{ partial "adsense/single-bottom.html" }}
            {{ partial "share.html" . }}
            {{ partial "disqus.html" . }}
            {{ if or .Prev .Next }}
            <div id="pagenavigation-next-prev">
              {{ if .Next }}
              <div id="pagenavigation-next">
                <span class="pagenav-label">前の投稿</span>
                <a href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>
              </div>
              {{ end }}
              {{ if .Prev }}
              <div id="pagenavigation-prev">
                <span class="pagenav-label">次の投稿</span>
                <a href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>
              </div>
              {{ end }}
              </div>
            {{ end }}
          </div>
        </footer>
      </div><!-- .article -->
    </div><!-- #main-->
    {{ partial "sidebar.html" . }}
  </div><!-- .container -->
  {{ partial "footer.html" . }}
</body>
</html>
