<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/common.css">
  <link rel="stylesheet" type="text/css" href="/single.css">
</head>
<body>
  {{ partial "header.html" . }}
  <div class="container">
    <div id="main">
      <div class="article">
        <header>
          <div class="article-header">
            <h1>{{ .Title }}</h1>
            <span class="posttime">{{ .Date.Format "2006/01/02" }}</span>
            {{ partial "tags.html" . }}
          </div>
          {{ partial "share.html" . }}
        </header>
        <div class="content">
          {{ .Content }}
        </div>
        <footer>
          <div class="article-footer">
            {{ partial "tags.html" . }}
            {{ partial "share.html" . }}
          </div>
        </footer>
      </div><!-- .article -->
    </div><!-- #main-->
    {{ partial "sidebar.html" . }}
  </div><!-- .container -->
  {{ partial "footer.html" . }}
</body>
</html>
