{{ if .Site.Params.sharebutton }}
<div id="share-buttons">
  <ul>
    {{ if .Site.Params.sharebutton.twitter }}
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button"{{ with .Site.Author.twitter }} data-via="{{ . }}"{{ end }}>Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    {{ end }}
    {{ if .Site.Params.sharebutton.facebook }}
    {{ with .Site.Params.sharebutton.facebookAppId }}
    <li>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ $.Permalink | safeURL }}&layout=button_count&mobile_iframe=true&appId={{ . }}&width=89&height=20" width="89" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </li>
    {{ end }}
    {{ end }}
    {{ if .Site.Params.sharebutton.hatena }}
    <li>
      <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}/" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </li>
    {{ end }}
    {{ if .Site.Params.sharebutton.google }}
    <li>
      <div class="g-plusone" data-size="medium"></div>
    </li>
    {{ end }}
    {{ if .Site.Params.sharebutton.pocket }}
    <li>
      <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
      <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    </li>
    {{ end }}
    {{ if .Site.Params.sharebutton.tumblr }}
    <li>
        <a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a>
        <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
