<div class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Sponsored link</span>
    </div>
    {{ partial "adsense/sidebar.html" . }}
  </div>
  {{ if .Site.Author }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Author</span>
    </div>
    <div id="author">
      <span>{{ .Site.Author.name }}</span>
      <div>
        {{ with .Site.Author.github }}
        <a href="https://github.com/{{ . }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Author.twitter }}
        <a href="https://twitter.com/{{ . }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Author.linkedin }}
        <a href="https://www.linkedin.com/in/{{ . }}"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Categories</span>
    </div>
    <div class="categories">
      <ul>
        {{ range $category, $taxonomy := .Site.Taxonomies.categories }}
        <li>
          <a href="/categories/{{ $category | urlize }}"><span></span>{{ $category }} ({{ $taxonomy.Count }})</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>RSS</span>
    </div>
    <div id="rss">
      <a href="{{ if .RSSlink }}{{ .RSSlink }}{{ else }}{{ .Site.BaseURL }}/index.xml{{ end }}" type="application/rss+xml" target="_blank"><img src="{{ .Site.BaseURL }}/images/rss.png"></a>
    </div>
  </div>
</div>
