<div class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>スポンサーリンク</span>
    </div>
    {{ partial "adsense/sidebar.html" . }}
  </div>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>カテゴリ</span>
    </div>
    <div class="categories">
      <ul>
        {{ range $category, $taxonomy := .Site.Taxonomies.categories }}
        <li>
          <a href="/categories/{{ $category | urlize }}"><span></span>{{ $category }} ({{ $taxonomy.Count }})</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>RSS</span>
    </div>
    <div id="rss">
      <a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank"><img src="{{ .Site.BaseURL }}/images/rss.png"></a>
    </div>
  </div>
</div>
