/**
 * init
 */
* {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/**
 * header
 */
.site-header { 
  background: #F4F4F4;
  height: 60px;
  margin-bottom: 40px;
}

.site-header a {
  color: #303030;
  text-decoration: none;
  font-size: 20px;
}

.site-header-left {
  padding: 14px 0px 12px 150px;
  float: left;
}

.site-header-title {
  color: #FBFDFF;
  font-weight: bold;
}

/**
 * main content
 */
#main {
  clear: left;
  float: left;
  margin-bottom: 100px;
}

/**
 * articles
 */
.article {
  width: 590px;
  padding: 0px 20px 50px 20px;
  clear: left;
}

.article .posttime {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.article .article-tags {
  font-size: 12px;
}

.article .content {
  clear: left;
  text-decoration: none;
  color: #303030;
  margin-bottom: 10px;
}

.article .content ol,
.article .content ul
{
  padding-left: 40px;
}

.article .content a {
  color: #6E6E6E;
  font-size: 14px;
}

.article .content a:hover {
  color: #4078C0;
  font-size: 14px;
}

.article .tags a {
  font-size: 10px;
}

.article .tags a:hover {
  font-size: 10px;
}

/**
 * sidebar
 */
.sidebar {
  width: 310px;
  float: right;
  min-height:200px; 
  height: 200px;
  height: auto !important; 
}

.sidebar-header {
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
}

.sidebar-header span {
  color: #747474;
  margin-bottom: 4px;
  padding-left: 5px;
}

/**
 * tags
 */
.tags li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

.tags a {
  color: #FBFDFF;
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  padding: 2px 3px;
  border: 1px solid #747474;
}

.tags a:hover {
  background: #F4F4F4;
  color: #303030;
  font-size: 14px;
  padding: 2px 3px;
}

/**
 * categories
 */
.categories {
  clear: left;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ACAEB2;
}

.categories li {
  list-style: none;
  margin-bottom: 3px;
  white-space: nowrap;
}

.categories .sidebar-content span {
  display: inline-block;
  background: #b4b3ba;
  width: 6px;
  height: 6px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.categories a {
  background: #FBFDFF;
  color: #747474;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
}

.categories a:hover {
  color: #4078C0;
  list-style: none;
}

/**
 * footer
 */
#site-footer {
  clear: left;
  background: #F4F4F4;
  padding-top: 10px;
  min-height:50px; 
  padding: 24px 0px 0px 150px;
}

#site-footer span {
  color: #303030;
  font-size: 14px;
}

#site-footer a {
  text-decoration: none;
  color: #303030;
}

/**
 * responsive styles
 */
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 850px) {
  img { 
    float: none;
  }

  p {
    width: 100%;
    margin: 0 0 1.8em 0;
    line-height: 1.7;
  }

  .sidebar {
    clear: left;
    float: none;
    width: auto;
    padding-bottom: 20px;
  }
}

